version: "3.1"

services:
  db:
    image: postgres
    env_file:
      - .env
    ports:
      - 5432:5432

  redis:
    image: redis
    ports:
      - 6379:6379
  keycloak:
    image: quay.io/keycloak/keycloak
    ports:
      - 8080:8080
    env_file:
      - .env
    command: start-dev
